/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

header{
    padding: 1rem 0;
    color: #fff;
    background-color: #333;
}

header h1 {
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
}

.contact_btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.pfp_pic{
    width: 250px;
    border-radius: 50%;
    margin-bottom: 1rem;  
}

.container{
    text-align: center;
}

section {
    padding: 2rem 0;
}

/* about me */
#aboutme {
    background: url("https://media1.tenor.com/m/7imovmmNqoYAAAAd/data-center-security-market.gif");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-shrink: 1;
    justify-content: center;
    padding: 4rem 0;
    text-align: center;
}

#aboutme h1, #aboutme h2, #aboutme p {
    text-align: center;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#aboutme h1 {
    font-size: 40px;
}
#aboutme p {
    font-size: 20px;

}

.aboutme_text{
    flex: 1;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.aboutme_icon{
    flex: 1;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.aboutme_text, .aboutme_icon {
    min-width: 300px;
    max-width: 600px;
}

/* interest */
#interest{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: url("summer_holiday.jpg");
}

#interest h1{
    font-size: 40px;
}

.box {
    flex: 1;
    font-size: larger;
    padding: 20px;
    margin: 20px;
    width: 200px; /* Set a fixed width */
    height: 150px; /* Set a fixed height */
    text-align: center;
    border: 1px solid; 
    border-radius: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: cornsilk;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


#edu {
    background-image: url("campus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 4rem 0;
    
}
#edu h1 {
    font-size: 40px;
}
#edu_box{
    background-color: rgba(255, 255, 255, 0.7);
}

#apu_logo {
    width: 70%;
}

/* Form // Contact me */

#contact {
    padding: 20px 20px;
    background-color: #11f5b4;
}
#contact h1{
    text-align: center;
    font-size: 40px;
    padding: 20px 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background: #4CAF50;
    color: #fff;
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

textarea {
    resize: none;
}


footer {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    bottom: 0%;
}

footer p {
    margin: 0.5rem 0;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer i {
    width: 20px; /* Adjust as needed */
    height: 17px; /* Adjust as needed */
    vertical-align: middle;
}